/* Variables
-------------------------------------------------------------- */

$size-sm: 90px;
$size: 140px;
$spacing: 5px;

$player-1-color: #dc685a;
$player-2-color: #ecaf4f;
$winner-color: #047857;
$hover-color: #3d4250;

/* Body and Notice styling
-------------------------------------------------------------- */

body {
  color: #b6b5ca;
  font-family: "Arial", sans-serif;
  margin: 0;
  text-align: center;
}

h5 {
  font-weight: 400;
  padding: 0 20px;
}

/* Tic-tac-toe game
-------------------------------------------------------------- */

.tic-tac-toe {
  font-family: "Open Sans", sans-serif;
  height: ($size-sm + $spacing * 2) * 3;
  overflow: hidden;
  margin: 50px auto 30px auto;
  position: relative;
  width: ($size-sm + $spacing * 2) * 3;

  @media (min-width: 450px) {
    height: ($size + $spacing * 2) * 3;
    width: ($size + $spacing * 2) * 3;
  }

  input[type="radio"] {
    // Hide radio buttons
    display: none;

    // Put the label above the rest, when checked
    &:checked + label {
      cursor: default;
      z-index: 10 !important;
    }

    @for $i from 0 through 8 {
      &.turn-#{$i} + label {
        display: block;
      }
    }

    // Show next turn, once the current label has been :checked
    @for $i from 1 through 8 {
      &.turn-#{$i}:checked ~ .turn-#{$i + 1} + label {
        display: block;
      }
    }

    // Label positioning
    &.left + label {
      left: 0;
    }
    &.top + label {
      top: 0;
    }

    &.middle + label {
      left: ($size-sm + $spacing * 2);
    }
    &.right + label {
      left: ($size-sm + $spacing * 2) * 2;
    }
    &.center + label {
      top: ($size-sm + $spacing * 2);
    }
    &.bottom + label {
      top: ($size-sm + $spacing * 2) * 2;
    }

    @media (min-width: 450px) {
      &.middle + label {
        left: ($size + $spacing * 2);
      }
      &.right + label {
        left: ($size + $spacing * 2) * 2;
      }
      &.center + label {
        top: ($size + $spacing * 2);
      }
      &.bottom + label {
        top: ($size + $spacing * 2) * 2;
      }
    }
  }

  // Label style
  label {
    background-color: #78bec5;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;
    display: none;
    height: $size-sm;
    margin: $spacing;
    position: absolute;
    width: $size-sm;

    @media (min-width: 450px) {
      height: $size;
      width: $size;
      line-height: $size;
    }

    // Label hover effect
    &:hover {
      background-color: $hover-color;

      &:after {
        opacity: 0.4;
      }
    }
  }
}
